.card {
  border: solid black 2px;
  margin: 2rem;
}

.columns img {
  display:block;
  margin-top: 2rem;
  margin-left:auto;
  margin-right: auto;
  align-content: center;
}

.banner {
  display: block;
  margin: 12px;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
}