.jude-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
    justify-content: stretch;
}

.jude-row > * {
    flex-basis: 20rem;
    flex-shrink: 0;
    background-color: rgb(199, 82, 82);
}

.jude-row .card {
    display: flex;
    flex-direction: column;

}



.jude-row .card > .card-image {
    flex-basis: 20rem;
    flex-shrink: 0;
    overflow-y: hidden;
    display: block;
    margin-left: auto;
    margin-right: auto;


    
    ;
}

body {
    margin: 0;
    overflow-x: hidden;
}

.card-content {
    text-shadow: red;
}
